@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-window::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

#sidebar::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
